.container
  .content
    .row
      %h2 Locations
      %a{:href => "/user/#{@user.uid}/location/new"}
        %button.btn.btn-inverse Add Location
      %br
      %br
      %table{:class => "table table-striped"}
        - @user.locations.each do |location|
          %tr
            %td
              %a{:href => "/location/#{location[0]}"}
                =location[1]
