.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '/'} Career Builder Matching
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '/'}Home
          %li
            %a{:href => '/matches'}Matches
          %li
            %a{:href => '/jobs'}Jobs
          %li
            %a{:href => '/about'}About
        %p.navbar-text.pull-right
          -unless current_user.nil?
            %a{:href => "/user/" << current_user.nickname.to_s << "/dashboard"} #{current_user.nickname}
            Dashboard
            |
            %a{:href => "/logout" } Logout

          -else
            %a{:href => "/auth/linkedin"}
              %img{:src => "/images/signin_with_linkedin.png"}