.container
  .content
    .row
      %h2="Matching Jobs for #{@user.name}"
      %table{:class => "table table-striped"}
        %tr
          %th Job
          %th Missing

        - @jobs.each_with_index do |job, index|
          %tr
            %td= job[1]
            %td
              - @matches.to_a[index][1].each do |skill|
                -if @skills[skill]
                  %a.btn.btn-success{:href => "/user/#{@user.uid}/skill/#{skill}"}
                    %i.icon-plus.icon-white
                    =@skills[skill]



