.container
  .content
    .row
      %h2="Matching Jobs for #{@user.name}"
      %table{:class => "table table-striped"}
        %tr
          %th Job
          %th Missing


        - @jobs.each do |job|
          %tr
            %td= job[1]
            %td= ""

