.container
  .row
    .span9
      %h2 About CareerBuilder Matching
      %p Searching is great, but Matching is better.
      %p This is a proof of concept site to build a partial pattern matching engine to connect candidates with jobs.
      %p Built with Ruby and Neo4j.
    .span3
      %h2 About Us
      %p Built by:
      %p
        Development:
        %b Max De Marzi

      %p
        Business:
        %b Wojciech Krupa

